* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  line-height: 22px;
  color: #046380;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #046380;
  border-color: #046380;
  outline: none;
}
