.main {
  background: #fff;
}

.nav {
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 82px;
  width: 186px;
}

.formSearch {
  border: none;
  padding: 0;
  display: inline-block;
  margin-left: 27px;
}

.searchInput {
  width: 490px;
  height: 50px;
  border: 1px solid #046380;
  border-radius: 90px;
  padding: 9px 21px 9px 53px;
  background: transparent url("/search-icon.png") no-repeat
    13px center;
  background-size: 32px;
}

.headerButtons {
  margin-left: 108px;
}

.headerButton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.iconPencil {
  width: 36px;
  height: 33px;
}

.iconLove {
  width: 30px;
  height: 30px;
  margin-left: 27px;
}

.signinButton {
  margin-left: 23px;
  width: 103.56px;
  height: 53px;
  background: #046380;
  border-radius: 70px;
  border: none;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
