.main {
  background: #fff;
}

.nav {
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 82px;
  width: 186px;
}

.formSearch {
  border: none;
  padding: 0;
  display: inline-block;
  margin-left: 27px;
}

.searchInput {
  width: 490px;
  height: 50px;
  border: 1px solid #046380;
  border-radius: 90px;
  padding: 9px 21px 9px 53px;
  background: transparent url("/search-icon.png") no-repeat
    13px center;
  background-size: 32px;
}

.headerButtons {
  margin-left: 108px;
}

.headerButton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.iconPencil {
  width: 36px;
  height: 33px;
}

.iconLove {
  width: 30px;
  height: 30px;
  margin-left: 27px;
}

.signinButton {
  margin-left: 23px;
  width: 103.56px;
  height: 53px;
  background: #046380;
  border-radius: 70px;
  border: none;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.sectionTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #046380;
  margin-bottom: 40px;
  margin-top: 134px;
}

.cardContainer {
}

.cardImage {
  width: 276px;
  height: 252px;
}

.cardName {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #046380;
}

.cardRating {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.cardRateCount {
  font-weight: 500;
  font-size: 11px;
  line-height: 10px;
  color: #a7a7a7;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
}

.menuItems {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.menuItem {
  width: 124px;
  height: 40px;
  background: #ffffff;
  border: 0.5px solid #046380;
  border-radius: 10px;
}

.menuItemName {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #046380;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.searchContainerBro {
  width: 100%;
  height: 348px;
  background: url("/search-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formSearchMain {
  border: none;
  padding: 0;
  display: inline-block;
  background: #fff;
  border-radius: 324px;
  border: none;
}

.searchInputMain {
  width: 899.25px;
  height: 61px;
  background: #ffffff;
  border-radius: 324px;
  border: none;
  padding: 9px 21px 9px 53px;
  background: transparent url("/search-icon.png") no-repeat
    13px center;
  background-size: 32px;
}

.restarauntsMain {
  background-color: #ECECEC;
  margin-top: unset;
  padding-top: 30px;
  padding-bottom: 30px;
}
 .restarauntsMainWrapper {
  background-color: #fff;
  padding: 15px 35px;
 }

 .restarauntsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
  justify-content: space-between;
 }
